<html>
  <head>
    <title>This is the header</title>
  </head>
  <body>
    <form action="/urls/login" method="POST">
      <input type="text" placeholder="username">
    </form>
  </body>
</html>

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
      EJS Is Fun!
    </a>

    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>

</div>
</nav>