<html>
  <head>
    <title>This is the header</title>
  </head>
  <body>
    <% if (user) { %>
      <form action="/logout" method="POST">
        <p>You are logged in as <%= user.email %></p>
          <button type="submit">Logout</button>
      </form>
    <% } else { %>
      <form action="/register" method="GET">
        <button type="submit">Register</button>
      </form>
      <form action="/login" method="GET">
        <button type="submit">Log In</button>
      </form>
    <% } %>
  </body>
</html>