<html>
  <head>
    <title>TinyApp Header</title>
  </head>
  <body>
    <% if (userEmail) { %>
      <form action="/logout" method="POST">
        <p>You are logged in as <%= userEmail %></p>
          <button type="submit">Logout</button>
      </form>
    <% } else { %>
      <p>
        <form action="/register" method="GET" display="inline">
          <button type="submit">Register</button>
        </form>
        <form action="/login" method="GET" display="inline">
          <button type="submit">Log In</button>
        </form>
      </p>
    <% } %>
  </body>
</html>