<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% if (userEmail) { %>
      <form action="/logout" method="POST">
        <p>You are logged in as <%= userEmail %></p>
        <button type="submit">Logout</button>
      </form>
    <% } else { %>
        <a href="/register"><button type="submit">Register</button></a>
        <a href="/login"><button type="submit">Log In</button></a>
    <% } %>
  </body>
</html>