<!DOCTYPE html>

<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <h2>It looks like you're not logged in.</h2>
    <p>Login to your account or register to access TinyApp URL shortner.</p>
    <a href="/login"><button type="submit">Login</button></a>
    <a href="/register"><button type="submit">Register</button></a>
  </body>
</html>