<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <% include ./partials/_header %>
</head>
<body>
  <% if (user === urlDatabase[shortURL].userID) { %>
  <h2>Shortened URL</h2>
    <table border="black"; cellpadding="10px">
      <tr align="left">
        <th><b>Long URL</b></th>
        <th><b>Short URL</b></th>
      </tr>
      <tr>
         <td><%= longURL %></td>
         <td><%= shortURL %></td>
         <td>
          <form action='/urls/<%= shortURL %>/update' method="POST">
            <input type="text" name='newLongURL' placeholder="New URL">
            <button type='submit'>Update</button>
          </form>
         </td>
      </tr>
    </table>
    <% } else { %>
      <br>
      <p>You are not a registered owner of this URL</p>
    <% } %>
    <a href="/urls"><button type="submit">Go Back 🔙</button></a>
</body>
</html>