<!DOCTYPE html>
<html lang="en">
<head>
    <title>TinyApp</title>
    <% include ./partials/_header %>
</head>

<body>
  <h2>Shortened URL Table</h2>
    <table border="black"; cellpadding="10px">
      <tr align="left">
        <th><b>Long URL</b></th>
        <th><b>Short URL</b></th>
        <!-- <th>Delete</th> -->
      </tr>
      <tr>
        <% for (var key in urls) { %>
         <td><%= urls[key] %></td>
         <td><%= key %></td>
         <td><button><a href="/urls/<%= key %>/">Edit</a></button></td>
         <td><form action='/urls/<%= key %>/delete' method='post'><button type="submit">Delete</button></td>
      </tr>
      <% } %>
    </table>
  <br>

<a href="/urls/new">Link to shorten URL</a>

</body>
</html>